In [194]:
import pandas as pd

In [195]:
df = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')

In [147]:
df.customer_lifetime_value

0         4809
1         2228
2        14947
3        22332
4         9025
         ...
10684    15563
10685     5259
10686    23893
10687    11971
10688     6857
Name: customer_lifetime_value, Length: 10689, dtype: int64

In [118]:
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [97]:
df.income.value_counts()

95697    13
27972    10
60920    10
48567     9
35625     9
         ..
71626     1
36660     1
87050     1
63833     1
68942     1
Name: income, Length: 8210, dtype: int64

In [98]:
df['customer_lifetime_value'].describe()

count    10689.000000
mean      8011.906727
std       6877.557889
min       1898.000000
25%       4014.000000
50%       5776.000000
75%       8991.000000
max      83325.000000
Name: customer_lifetime_value, dtype: float64

In [99]:
df_dirty = pd.read_csv('file1.csv')

In [100]:
df_dirty3['Customer Lifetime Value'].apply(lambda x : x.replace('%',"") if type(x)== str else x).astype(float).min()

1898.007675

In [101]:
df_dirty

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df_dirty2 = pd.read_csv('file2.csv')

In [103]:
df_dirty3 = pd.read_csv('file3.csv')

In [104]:
int(round(2.56))

3

In [105]:
df_dirty

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
def lower_case(df):
    for i in df.columns:
        df[f'{i}']= df[f'{i}'].str.lower()
        return df

In [107]:
lower_case(df_dirty)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,rb50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,qz44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,ai49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,ww63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,ga49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [109]:
df[df['region']=='east'].index

Int64Index([    2,    67,    77,    81,    94,    95,   115,   118,   123,
              133,
            ...
            10596, 10602, 10613, 10614, 10629, 10632, 10633, 10656, 10672,
            10680],
           dtype='int64', length=929)

In [110]:
df.drop(df[df['region']=='east'].index)

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
5,west region,4745,yes,basic,high school or below,2/14/11,feb,employed,m,50549,...,73,0,7,personal auto,personal l3,offer1,agent,292,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [111]:
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [112]:
import matplotlib.pyplot

In [113]:
fig=plt.figure(figsize=(10,8))

plt.subplot(2,2,1)
plt.plot(x,y)
plt.xlabel("first plot x label")

#second axis
plt.subplot(2,2,2)
y2=x**4
plt.plot(x,y2)
plt.title("this is a title")

##. third subplot
plt.subplot(2,2,3)
y3=x**2
plt.plot(x,y3)

## fourth subplot
plt.subplot(2,2,4)
plt.plot(x,-x,color="#e65ead")
plt.xlabel("this is x for the fourth subplot")

plt.suptitle("this the whole figure title")

NameError: name 'plt' is not defined

In [221]:
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,new,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,new,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [219]:
def remove_outlier(column_name, df):
    percentile25 = df[column_name].quantile(0.25)
    percentile75 = df[column_name].quantile(0.75)
    iqr = percentile75 - percentile25
    upper_limit = percentile75 + 1.5 * iqr
    lower_limit = percentile25 - 1.5 * iqr
    
    df.replace(to_replace = df[column_name][df[column_name] > upper_limit], value = "new", inplace = True)
    df.replace(to_replace = df[column_name][df[column_name] < lower_limit], value = "new", inplace = True)
    print(f'you dropped {df[column_name][df[column_name] > upper_limit].shape[0] + df[column_name][df[column_name] < lower_limit].shape[0]} values')
    return df
#remove_outlier(‘customer lifetime value’, df)

In [220]:
remove_outlier('customer_lifetime_value', df)

TypeError: '<' not supported between instances of 'int' and 'str'

In [160]:
remove_outlier('customer_lifetime_value',df)

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [ ]:
percentile25 = df['customer_lifetime_value'].quantile(0.25)
percentile75 = df['customer_lifetime_value'].quantile(0.75)
iqr = percentile75 - percentile25
upper_limit = percentile75 + 1.5 * iqr
lower_limit = percentile25 - 1.5 * iqr

In [121]:
upper_limit

16456.5

In [122]:
lower_limit

-3451.5

In [ ]:
df.replace(to_replace = df['customer_lifetime_value'][df['customer_lifetime_value'] > upper_limit], value = "new", inplace = True)

In [ ]:
df[df['customer_lifetime_value']=='new']

In [114]:
df.loc[df['customer_lifetime_value'] > upper_limit,'customer_lifetime_value']='new'

In [86]:
df[df['customer_lifetime_value']=='new']

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
3,north west,new,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
9,north west,new,no,extended,master,1/4/11,jan,employed,f,70961,...,8,0,2,corporate auto,corporate l3,offer2,agent,408,four-door car,small
12,north west,new,no,extended,high school or below,1/31/11,jan,employed,f,69096,...,32,0,2,corporate auto,corporate l3,offer1,agent,64,four-door car,medsize
29,west region,new,no,basic,high school or below,1/7/11,jan,medical leave,m,26307,...,1,0,2,personal auto,personal l2,offer4,call center,313,four-door car,medsize
55,central,new,no,extended,high school or below,2/1/11,feb,employed,f,38688,...,6,0,3,special auto,special l3,offer1,agent,2294,luxury car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10663,north west,new,no,basic,high school or below,1/17/11,jan,employed,m,23046,...,7,3,2,personal auto,personal l3,offer4,branch,1,suv,small
10671,west region,new,no,basic,high school or below,1/28/11,jan,employed,f,36301,...,85,0,2,corporate auto,corporate l3,offer1,branch,647,suv,medsize
10675,north west,new,no,extended,high school or below,1/16/11,jan,employed,f,70699,...,57,0,2,personal auto,personal l2,offer3,agent,256,four-door car,medsize
10683,central,new,no,basic,high school or below,2/24/11,feb,unemployed,m,58280,...,32,0,2,personal auto,personal l2,offer1,branch,897,luxury suv,medsize
10686,central,new,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize

In [236]:
def remove_outlier(column_name, df):
    percentile25 = df[column_name].quantile(0.25)
    percentile75 = df[column_name].quantile(0.75)
    iqr = percentile75 - percentile25
    upper_limit = percentile75 + 1.5 * iqr
    lower_limit = percentile25 - 1.5 * iqr
    df.loc[(df[column_name] > upper_limit) | (df[column_name] < lower_limit), column_name]='new'
    #df.loc[df[column_name] < lower_limit, column_name]='new'
    print(f'you dropped {len(df[df[column_name]=="new"])} values')
    return df

In [228]:
df[df['customer_lifetime_value']=='new']

Empty DataFrame
Columns: [region, customer_lifetime_value, response, coverage, education, effective_to_date, month, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size]
Index: []

[0 rows x 24 columns]

In [237]:
remove_outlier('customer_lifetime_value',df)

you dropped 961 values

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,new,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,new,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [185]:
remove_outlier('customer_lifetime_value', df)

TypeError: '>' not supported between instances of 'numpy.ndarray' and 'str'

In [225]:
df[df['customer_lifetime_value']=='new']

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
3,north west,new,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
9,north west,new,no,extended,master,1/4/11,jan,employed,f,70961,...,8,0,2,corporate auto,corporate l3,offer2,agent,408,four-door car,small
12,north west,new,no,extended,high school or below,1/31/11,jan,employed,f,69096,...,32,0,2,corporate auto,corporate l3,offer1,agent,64,four-door car,medsize
29,west region,new,no,basic,high school or below,1/7/11,jan,medical leave,m,26307,...,1,0,2,personal auto,personal l2,offer4,call center,313,four-door car,medsize
55,central,new,no,extended,high school or below,2/1/11,feb,employed,f,38688,...,6,0,3,special auto,special l3,offer1,agent,2294,luxury car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10663,north west,new,no,basic,high school or below,1/17/11,jan,employed,m,23046,...,7,3,2,personal auto,personal l3,offer4,branch,1,suv,small
10671,west region,new,no,basic,high school or below,1/28/11,jan,employed,f,36301,...,85,0,2,corporate auto,corporate l3,offer1,branch,647,suv,medsize
10675,north west,new,no,extended,high school or below,1/16/11,jan,employed,f,70699,...,57,0,2,personal auto,personal l2,offer3,agent,256,four-door car,medsize
10683,central,new,no,basic,high school or below,2/24/11,feb,unemployed,m,58280,...,32,0,2,personal auto,personal l2,offer1,branch,897,luxury suv,medsize
10686,central,new,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize

In [92]:
df.loc[df['customer_lifetime_value'] > upper_limit,'customer_lifetime_value']='new'

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'

In [179]:
df['customer_lifetime_value'][df['customer_lifetime_value'] > upper_limit]='new'

C:\Users\Aleks\AppData\Local\Temp/ipykernel_25392/1168999506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['customer_lifetime_value'][df['customer_lifetime_value'] > upper_limit]='new'

In [203]:
df.loc[df['customer_lifetime_value'] =='new']

Empty DataFrame
Columns: [region, customer_lifetime_value, response, coverage, education, effective_to_date, month, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size]
Index: []

[0 rows x 24 columns]

In [235]:
df = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')

In [176]:
df.replace( df['customer_lifetime_value'][df['customer_lifetime_value'] > upper_limit], "new", inplace = True)
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,...,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [168]:
df['customer_lifetime_value'][df['customer_lifetime_value']]

KeyError: '[14947, 22332, 17114, 19955, 12836, 15031, 24706, 19435, 14019, 12157, 26346, 74228, 14687, 32474, 13466, 26770, 16320, 23866, 16407, 15563, 20579, 12989, 15114, 12332, 35862, 16794, 24278, 11981, 17723, 12313, 12487, 34611, 14510, 11009, 21991, 14228, 12840, 46805, 13057, 34039, 11611, 15032, 33473, 17254, 15762, 32654, 15994, 20171, 19259, 10996, 42561, 26180, 18688, 15000, 41787, 11790, 22305, 11124, 34708, 12520, 12663, 12625, 28119, 17435, 15122, 27528, 17684, 17497, 11663, 12280, 14854, 15173, 25807, 23594, 12047, 13736, 23086, 33279, 26223, 18853, 17622, 13438, 13156, 12296, 12902, 20096, 11003, 17771, 12883, 16477, 19327, 13379, 24084, 16979, 13840, 24238, 11578, 23903, 18745, 10732, 22721, 17019, 10914, 22103, 31162, 30763, 38545, 15470, 16301, 20635, 14083, 13092, 14040, 38055, 13334, 11005, 11533, 21343, 14651, 19668, 16224, 21034, 14057, 10721, 32450, 17857, 18380, 17041, 19014, 12655, 14435, 11855, 36293, 36860, 12913, 24127, 20708, 14585, 14396, 16938, 13681, 20230, 14722, 24108, 15042, 14010, 13197, 12941, 26016, 10827, 23740, 13473, 23207, 13295, 13450, 13023, 15016, 19731, 12168, 12741, 14208, 10787, 13583, 12851, 11177, 12148, 22110, 25390, 26843, 10972, 10777, 25997, 10839, 12866, 13080, 12734, 31864, 16515, 13770, 20120, 23331, 26197, 13350, 11274, 13918, 29091, 11323, 13235, 35022, 23747, 30205, 13432, 12298, 10883, 73225, 11160, 15014, 23984, 17029, 20725, 11473, 58207, 26576, 11633, 13024, 39561, 13110, 10979, 14962, 14741, 13759, 10737, 14318, 30118, 11302, 19872, 37939, 26453, 25830, 21172, 18321, 12067, 11700, 12282, 22062, 32104, 11747, 13094, 11972, 43290, 18680, 13171, 12504, 27542, 13220, 13916, 15956, 14042, 15320, 32871, 12383, 24610, 26305, 10819, 30286, 11073, 57520, 16229, 13246, 11318, 15167, 22658, 13780, 14866, 36695, 24543, 11431, 14274, 33718, 17288, 27564, 17930, 17788, 13061, 13009, 25169, 12023, 11085, 11280, 15739, 19338, 13160, 12687, 18572, 12552, 13422, 16702, 20446, 30061, 16798, 11039, 14158, 35227, 20216, 20885, 11513, 19837, 11030, 13045, 14558, 27064, 15488, 36632, 14476, 17103, 14635, 12315, 18089, 22185, 30442, 20123, 12036, 13104, 26413, 10915, 11121, 20936, 22952, 11638, 12731, 30081, 13211, 22399, 46770, 11833, 51426, 14808, 12174, 13144, 12622, 22940, 18211, 17223, 15363, 21151, 13917, 23228, 25401, 16473, 15435, 13055, 15485, 20842, 13776, 17006, 40132, 12887, 15306, 14663, 10834, 13167, 37111, 20474, 20552, 21592, 22325, 11619, 10963, 14194, 15808, 17250, 20370, 18361, 25755, 15672, 11413, 15700, 16272, 15245, 14203, 32098, 11885, 15806, 14723, 18929, 22445, 13815, 12472, 19834, 19363, 17557, 11490, 10876, 13530, 15362, 11228, 28432, 16553, 18042, 13258, 14628, 10808, 13727, 15656, 25581, 13561, 11905, 10899, 15641, 19957, 12904, 11681, 19483, 14333, 27382, 25464, 12846, 16728, 11692, 13931, 14349, 21740, 13268, 24980, 11763, 11042, 31758, 20766, 19069, 26113, 12948, 12421, 23990, 12321, 14428, 32269, 19339, 58166, 19174, 37150, 26511, 19504, 14413, 14941, 17429, 11243, 10926, 33451, 25763, 14980, 14696, 18767, 16172, 10828, 21123, 13755, 20957, 23706, 27430, 10978, 16468, 11281, 16706, 36229, 29412, 13599, 13502, 31803, 17556, 16261, 18039, 17625, 18269, 19884, 16675, 18690, 23554, 23895, 13865, 16909, 21423, 31269, 20003, 18504, 23813, 34931, 17793, 14084, 18591, 27789, 15467, 21590, 17109, 13355, 21850, 20395, 22500, 31516, 11960, 14230, 22986, 12357, 35013, 17441, 20477, 10700, 14024, 34090, 20496, 25805, 12128, 31706, 41745, 10856, 16313, 19190, 11830, 15771, 12515, 12807, 39400, 24178, 20239, 36057, 10714, 28486, 25640, 20946, 28799, 11365, 61134, 12275, 12285, 17712, 11606, 15251, 22800, 16681, 44856, 12263, 12300, 13178, 18453, 10722, 16350, 15550, 19480, 16793, 13897, 45708, 14181, 12045, 32777, 26939, 11288, 21101, 19045, 14917, 13151, 13576, 23950, 35203, 13115, 17840, 24723, 16870, 11793, 28685, 35850, 15862, 15228, 38887, 46302, 32227, 13297, 17776, 12827, 27443, 25093, 16236, 46611, 19088, 15814, 16705, 50568, 18635, 20090, 11447, 26338, 11718, 19357, 10760, 22207, 14166, 12234, 10932, 20067, 35537, 18399, 10954, 12947, 15839, 41075, 17476, 24672, 27287, 12624, 22762, 16060, 12476, 15673, 20018, 14140, 12265, 14032, 12390, 17085, 12269, 22620, 26864, 16388, 30141, 11373, 33873, 21766, 10745, 29328, 19160, 13452, 24337, 15284, 20461, 23875, 12176, 17526, 14727, 12564, 17822, 10970, 10937, 14382, 15519, 14970, 16138, 11315, 26763, 11875, 11628, 18611, 11255, 14627, 11925, 15417, 12200, 11834, 14031, 11130, 13995, 24636, 13158, 19337, 56675, 12944, 13223, 27069, 19237, 10861, 14517, 18634, 12779, 37243, 13118, 38230, 21528, 24096, 12489, 35984, 21941, 14816, 14226, 13786, 30850, 11196, 38496, 11218, 28824, 12590, 31934, 18542, 32467, 15695, 21147, 10960, 11546, 12252, 35440, 18484, 14260, 14206, 12556, 11510, 13046, 13406, 12694, 25030, 27934, 15428, 23444, 13272, 36707, 16460, 14641, 26900, 21480, 18975, 15777, 11232, 18726, 13869, 47155, 64618, 24442, 11986, 27495, 17292, 13478, 36168, 29830, 14376, 13976, 10901, 15445, 26243, 15234, 22217, 23515, 22895, 13309, 14837, 11702, 23675, 13989, 42462, 44468, 19185, 23142, 19690, 25585, 11095, 21435, 13610, 26122, 18131, 13027, 10747, 15936, 13881, 15984, 13369, 13248, 12495, 20467, 21923, 14244, 13269, 18532, 29973, 12751, 14567, 12022, 32725, 30591, 17636, 23144, 14710, 16727, 18732, 43026, 12877, 15063, 24868, 14713, 29199, 27945, 24709, 32069, 20631, 16796, 24061, 17367, 16775, 44795, 11610, 21531, 13798, 13270, 17086, 35186, 30745, 12105, 30966, 26999, 12324, 11828, 31642, 14827, 15162, 15865, 14134, 13081, 11360, 14439, 13107, 10864, 11880, 25626, 11772, 11264, 16109, 19643, 15096, 17602, 32144, 22067, 12516, 18205, 15477, 23777, 44520, 11293, 20186, 20774, 14065, 15725, 13113, 16005, 11236, 41491, 10793, 15626, 27440, 21710, 15147, 19278, 12316, 11058, 12379, 14002, 12231, 13494, 16525, 21404, 23187, 18938, 10719, 11320, 20930, 26232, 15002, 14191, 17995, 16107, 13117, 16069, 16152, 13277, 12919, 20604, 51016, 14666, 18892, 16159, 11463, 16953, 23055, 18898, 16344, 13596, 13745, 15638, 22041, 22806, 36946, 40688, 42389, 15374, 22563, 10925, 13752, 21920, 24967, 12255, 20940, 23536, 14455, 12786, 25082, 18196, 52811, 15950, 14246, 19231, 39365, 13352, 16464, 12550, 16504, 17966, 15797, 14050, 29297, 17349, 22448, 22951, 11389, 15262, 14590, 14014, 14195, 11714, 12097, 30718, 11093, 41143, 14536, 12350, 25002, 15610, 11926, 14616, 12519, 26730, 31234, 21504, 14862, 51337, 32864, 21295, 14472, 11314, 15118, 14642, 29006, 20498, 27386, 30859, 21312, 11077, 27929, 15190, 13569, 20492, 14703, 18708, 27890, 11618, 31316, 19927, 22337, 14131, 11660, 35692, 13891, 18544, 16484, 18704, 11836, 21892, 13372, 34243, 16887, 16045, 12208, 13037, 13448, 21914, 21235, 16922, 14255, 15925, 11726, 22235, 22261, 12302, 66025, 35944, 15144, 11140, 18073, 25674, 31161, 26134, 12521, 17666, 22056, 33053, 13447, 21776, 21159, 18065, 20380, 42937, 12981, 17569, 15415, 30909, 11895, 17651, 13333, 12052, 14082, 11250, 60556, 19454, 28421, 10831, 33288, 16963, 15102, 11727, 26220, 22256, 11814, 23405, 29232, 15727, 29874, 14700, 18474, 22754, 16501, 23435, 11158, 12375, 11516, 21418, 11072, 12349, 55277, 17002, 11776, 10892, 31215, 18882, 43019, 36181, 36470, 13668, 14886, 18061, 16280, 17759, 21255, 20455, 49221, 11572, 21578, 11760, 11624, 24552, 14316, 61850, 22693, 21522, 12682, 27643, 23020, 12232, 13226, 14091, 13283, 12885, 18677, 17253, 18939, 12465, 10796, 12819, 13778, 17420, 22118, 40440, 13559, 41855, 10845, 13955, 11658, 27990, 15304, 19253, 22315, 30475, 11701, 28511, 11260, 13411, 11378, 18948, 11044, 22242, 39033, 28699, 11084, 24143, 14196, 27580, 12206, 15253, 20531, 21274, 13419, 17263, 11900, 25900, 13363, 41103, 35062, 16373, 20237, 30154, 83325, 24186, 21205, 13265, 15886, 15789, 15769, 10852, 12812, 16256, 14503, 32196, 19688, 32317, 14267, 28435, 10990, 12689, 16007, 20266, 19116, 13014, 48356, 24320, 22523, 15023, 15483, 27279, 11277, 43217, 19964, 21112, 24138, 26538, 22837, 18370, 15613, 32961, 19323, 12992, 15481, 14932, 14718, 11131, 10928, 58753, 12584, 20101, 13306, 12898, 18943, 49423, 15531, 15978, 13367, 11029, 25107, 15552, 24660, 11923, 19378, 15266, 21283, 19644, 11269, 29194, 15506, 10781, 12427, 10758, 15328, 14754, 13883, 21886, 17484, 11820, 22425, 15923, 39769, 17817, 21569, 14514, 20998, 11430, 26416, 19896, 10720, 12723, 11944, 12500, 10986, 15277, 16304, 19849, 29049, 38410, 15759, 12244, 16874, 17646, 13464, 16570, 20864, 36897, 18534, 12547, 14789, 20925, 11435, 11172, 11665, 29706, 11982, 11014, 14748, 26462, 11211, 13979, 13749, 10706, 31221, 19582, 13083, 67907, 35444, 26570, 15785, 24249, 29577, 24826, 22855, 38445, 22712, 20314, 15119, 18060, 22643, 15394, 15083, 13864, 12880, 16548, 16547, 21639, 15120, 11537, 16973, 28393, 11631, 12101, 20534, 31920, 17732, 22093, 40224, 15182, 21240, 15512, 10934, 27666, 30313, 30647, 12765, 20215, 13111, 14708, 27420, 38320, 25253, 28328, 10759, 21768, 16710, 13623, 13862, 16510, 15860, 15503, 12010, 24258, 14944, 32021, 13742, 13799, 10896, 13357, 24261, 29676, 19597, 21561, 22029, 32437, 15663, 16355, 11472, 22195, 14120, 12875, 18522, 13345, 11436, 20600, 13579, 11785, 10865, 17208, 14137, 10881, 23208, 14914, 16414, 15265, 15025, 27776, 36516, 25360, 23295, 19393, 26199, 28622, 15055, 40235, 11599, 24338, 17738, 11064, 11955, 32677, 16699, 12743, 16531, 19079, 15558, 16985, 16936, 12780, 23981, 16265, 11469, 14566, 13552, 17530, 11308, 19685, 12767, 26200, 17816, 29589, 12341, 14070, 27937, 30104, 16068, 12692, 35900, 29037, 20700, 22647, 22758, 18569, 13021, 14895, 15272, 15487, 11797, 16589, 13523, 12759, 21903, 31410, 32861, 13575, 32613, 11154, 20714, 20294, 19511, 40636, 12522, 17786, 14432, 20878, 10952, 14325, 12817, 32643, 14429, 17790, 14594, 16331, 44771, 19606, 15261, 13441, 11565, 12362, 32306, 19776, 19228, 23893, 11971] not in index'

In [196]:
df[df['customer_lifetime_value']=='new']

Empty DataFrame
Columns: [region, customer_lifetime_value, response, coverage, education, effective_to_date, month, employment_status, gender, income, location_code, marital_status, monthly_premium_auto, months_since_last_claim, months_since_policy_inception, number_of_open_complaints, number_of_policies, policy_type, policy, renew_offer_type, sales_channel, total_claim_amount, vehicle_class, vehicle_size]
Index: []

[0 rows x 24 columns]

In [155]:
df[df['customer_lifetime_value'] > upper_limit]

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
9,north west,17114,no,extended,master,1/4/11,jan,employed,f,70961,...,8,0,2,corporate auto,corporate l3,offer2,agent,408,four-door car,small
12,north west,19955,no,extended,high school or below,1/31/11,jan,employed,f,69096,...,32,0,2,corporate auto,corporate l3,offer1,agent,64,four-door car,medsize
29,west region,24706,no,basic,high school or below,1/7/11,jan,medical leave,m,26307,...,1,0,2,personal auto,personal l2,offer4,call center,313,four-door car,medsize
55,central,19435,no,extended,high school or below,2/1/11,feb,employed,f,38688,...,6,0,3,special auto,special l3,offer1,agent,2294,luxury car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10663,north west,22563,no,basic,high school or below,1/17/11,jan,employed,m,23046,...,7,3,2,personal auto,personal l3,offer4,branch,1,suv,small
10671,west region,32306,no,basic,high school or below,1/28/11,jan,employed,f,36301,...,85,0,2,corporate auto,corporate l3,offer1,branch,647,suv,medsize
10675,north west,19776,no,extended,high school or below,1/16/11,jan,employed,f,70699,...,57,0,2,personal auto,personal l2,offer3,agent,256,four-door car,medsize
10683,central,19228,no,basic,high school or below,2/24/11,feb,unemployed,m,58280,...,32,0,2,personal auto,personal l2,offer1,branch,897,luxury suv,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize